.navbar{
	background-color:#80ffff;
}
#show{
	margin-left: 6.5%;
}
#list{
	margin-right: 6%;
}
#container {
	width: 100%;
}
#b {
	margin-left: 3%;
	background-color: lightgray;

}
#pageheader{
	height: 50px;
}
#menu{
	text-align: center;
}
#brand{
	height: 150px;
    margin-top: -30px;
}
textarea{
	width: 80%;
	height: 40px;
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}